[submodule "myapp"]
	path = myapp
	url = git@github.com:densuke/myapp.git
[submodule "mywebapp"]
	path = mywebapp
	url = git@github.com:densuke/mywebapp.git
[submodule "kdweb"]
	path = kdweb
	url = git@github.com:densuke/kdweb.git
[submodule "kdapp"]
	path = kdapp
	url = https://github.com/densuke/kdapp.git
[submodule "kdapp-0.8"]
	path = kdapp-0.8
	url = git://github.com/densuke/kdapp.git
